aiohttp==3.13.2
aiosignal==1.4.0
anyio==4.12.0
astroid==4.0.2
async-timeout==5.0.1
attrs==25.4.0
az==0.1.0.dev1
azure-common==1.1.28
azure-core==1.37.0
azure-data-tables==12.7.0
azure-functions==1.24.0
azure-identity==1.25.1
azure-keyvault==4.2.0
azure-keyvault-certificates==4.10.0
azure-keyvault-keys==4.11.0
azure-keyvault-secrets==4.10.0
azure-storage-blob==12.27.1
azure-storage-queue==12.14.1
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
Deprecated==1.3.1
dill==0.4.0
exceptiongroup==1.3.1
frozenlist==1.8.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
importlib-metadata==8.7.1
iniconfig==2.3.0
isodate==0.7.2
isort==7.0.0
marshmallow==4.1.2
marshmallow-dataclass==8.7.1
mccabe==0.7.0
microsoft-kiota-abstractions==1.9.7
microsoft-kiota-authentication-azure==1.9.7
microsoft-kiota-http==1.9.7
microsoft-kiota-serialization-json==1.9.7
microsoft-kiota-serialization-text==1.9.7
msal==1.34.0
msal-extensions==1.3.1
msgraph-core==1.3.8
msgraph-sdk==1.51.0
msrest==0.7.1
multidict==6.7.0
mypy-extensions==1.1.0
oauthlib==3.3.1
opentelemetry-api==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
packaging==25.0
pendulum==3.1.0
platformdirs==4.5.1
pluggy==1.6.0
portalocker==3.2.0
pycparser==2.23
PyJWT==2.10.1
pylint==4.0.4
pytest==9.0.2
python-dateutil==2.9.0.post0
requests==2.32.5
requests-oauthlib==2.0.0
six==1.17.0
sniffio==1.3.1
std-uritemplate==2.0.8
time-machine==3.2.0
tomli==2.3.0
tomlkit==0.13.3
typing-inspect==0.9.0
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.2
wrapt==2.0.1
yarl==1.22.0
zipp==3.23.0
